[Unit]
Description=postitapp
After=multi-user.target

[Service]
ExecStart=/root/.nvm/versions/node/v18.19.1/bin/node /root/note-app-nodejs-react/backend/app.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=postitapp
User=root

[Install]
WantedBy=multi-user.target
